doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Available Books
  // favicon
  link(rel='icon' href='images/PP.png' type='image/png' sizes='48 X 48')
  // favicon
  // font-awesome and others
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  // font-awesome end


  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  style.
    #wrapper {
    overflow-x: hidden;
    }
    #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    }
    #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    }
    #sidebar-wrapper .list-group {
    width: 15rem;
    }
    #page-content-wrapper {
    min-width: 100vw;
    }
    #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
    }
    @media (min-width: 768px) {
    #sidebar-wrapper {
    margin-left: 0;
    }
    #page-content-wrapper {
    min-width: 0;
    width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
    }
    }
#wrapper.d-flex
  // Sidebar
  #sidebar-wrapper.bg-light.border-right
    .sidebar-heading 
      img(src="images/my1.png", alt="Bookidologo" height="70px") 
    .list-group.list-group-flush
      a.list-group-item.list-group-item-action.bg-light(href='/upload') Upload Book
      a.list-group-item.list-group-item-action.bg-light(href='/available') Available Books
      a.list-group-item.list-group-item-action.bg-light(href='/userinfo') User Info
      a.list-group-item.list-group-item-action.bg-light(href='/comment') Comment Section
      //- a.list-group-item.list-group-item-action.bg-light(href='#') Events
      //- a.list-group-item.list-group-item-action.bg-light(href='#') Profile
      a.list-group-item.list-group-item-action.bg-light(href='/') Log Out
  // /#sidebar-wrapper
  // Page Content
  #page-content-wrapper
    //start here
 
    .container-fluid
      //- h1.mt-4 Hello, Menahil 
      br
      br
      br
      h2.display-4.ml-5=heading
      //- h2 Available books
      
      table.table.table-hover
        thead
          tr
            th(scope='col') Book Name
            th(scope='col') Author
            th(scope='col') Department 
            th(scope='col') Book URL            
            th(scope='col') Remove 
            th(scope='col') Edit                       
        tbody
            each newbook in books
                tr               
                    td=newbook.bookname
                    td=newbook.authorname
                    td=newbook.depname
                    td=newbook.book
                     td
                        a.fa.fa-trash(style='font-size:36px;color:#FFC34C' href='/delete/'+newbook._id) 
                     td
                        a.fa.fa-edit(style='font-size:36px;color:#FFC34C' href='/edit/'+newbook._id)                               

        
  // /#page-content-wrapper
// /#wrapper
// Bootstrap core JavaScript
script(src='../../vendor/jquery/jquery.min.js')
script(src='../../vendor/bootstrap/js/bootstrap.bundle.min.js')
// Menu Toggle Script
script.
  $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
  });

        //- <% if(files){ %>
        //-   <% files.forEach(function(file) { %>
        //-     <div class="card card-body mb-3">
        //-       <% if(file.isImage) { %>
        //-         <img src="image/<%= file.filename %>" alt="">
        //-         <% } else { %>
        //-           <%= file.filename %>
        //-             <% } %>
        //-               <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
        //-                 <button class="btn btn-danger btn-block mt-4">Delete</button>
        //-               </form>
        //-     </div>
        //-     <% }) %>
        //-       <% } else { %>
        //-         <p>No files to show</p>
        //-         <% } %>